@model List<BookDto>
@{
    ViewData["Title"] = "Home Page";
}

@if(TempData["RentBookError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["RentBookError"]
    </div>
}


@if(TempData["RentBookSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["RentBookSuccess"]
    </div>
}

<div class="container">
    <h3 class="text-center mb-4">Kitap Listesi</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">Yazar: @item.Author</p>
                        <p class="card-text">ISBN: @item.ISBN</p>
                        <p class="card-text">
                            Durum:
                            @if (item.IsAvaliable)
                            {
                                <span class="badge bg-success">Mevcut</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Mevcut Değil</span>
                            }
                        </p>
                        <form asp-controller="Book" asp-action="RentBook" method="post" class="rent-form">
                            <input type="hidden" name="id" value="@item.Id" id="rentData-@item.Id" />
                            <button type="submit" class="btn btn-primary rent-book-button">Kirala</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div